@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700');
body{
background-image: url(http://c767204.r4.cf2.rackcdn.com/fa2ad3b2-3855-4d59-bdd0-ec422838b79d.jpg);
}
h1{
  text-align: center;
  font-family: 'UnifrakturCook', cursive;
  color:red;
}
h3 {
  text-align: center;
}
#Home1{
  text-align: left;
  width: 300px;
}
#Home2{
  text-center:left;
  width:300px;
}
#Home3{
  text-align: left;
  width: 300px;
}
