@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700');
body{
background-image: url(http://c767204.r4.cf2.rackcdn.com/fa2ad3b2-3855-4d59-bdd0-ec422838b79d.jpg);
}
div{
  display:block;
}
h1{
  text-align: center;
  font-family: 'UnifrakturCook', cursive;
  color:red;
}
h3 {
  text-align: center;
}
#container3 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	background:red; /* column 3 background colour */
}
#container2 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:33.333%;
	background:blue; /* column 2 background colour */
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:33.33%;
	background:yellow; /* column 1 background colour */
}
#col1 {
	float:left;
	width:29.33%;
	position:relative;
	left:68.67%;
	overflow:hidden;
}
#col2 {
	float:left;
	width:29.33%;
	position:relative;
	left:72.67%;
	overflow:hidden;
}
#col3 {
	float:left;
	width:29.33%;
	position:relative;
	left:76.67%;
	overflow:hidden;
}
